<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>Update Student Details</h2><br>
        {% if key %}
        <form method="post" action="{% url 'update' pk=key.id %}">
          {% csrf_token %}
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Student ID</label>
              <div class="col-sm-3">
                <input type="text" name="s_id" id="s_id" required maxlength="20" value="{{key.s_id}}"/> 
              </div>
            </div>

            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Student Name</label>
              <div class="col-sm-3">
                <input type="text" name="s_name" id="s_name" required maxlength="100" value="{{key.s_name}}" />
              </div>
            </div>

            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Student Age</label>
              <div class="col-sm-3">
                <input type="number" name="s_age" id="s_age" required value="{{key.s_age}}" />
              </div>
            </div>

            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Student Email</label>
                <div class="col-sm-3">
                  <input type="email" name="s_email" id="s_email" required maxlength="254" value="{{key.s_email}}" /> 
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Student Contact</label>
                <div class="col-sm-3">
                  <input type="text" name="s_contact" id="s_contact" required maxlength="15" value="{{key.s_contact}}" />
                </div>
            </div>

            <button type="submit" class="btn btn-success">Update</button>
          </form>
          {% endif %}
    </div>
</body>
</html>