<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Students Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-4">
      <figure class="text-center">
        <blockquote class="blockquote">
          <h2 class="text-danger">Welcome to our project - Student-data.</h2>
        </blockquote>
        <figcaption class="blockquote-footer text-end">
          Developed by <cite title="Source Title">Mohd Sanabil</cite>
        </figcaption>
      </figure>
    {% comment %} emplyoee table starts {% endcomment %}
    <table class="table table-bordered">
        <thead class="table-dark">
          <th>Student ID</th>
          <th>Student Name</th>
          <th>Student Age</th>
          <th>Student Email</th>
          <th>Student Contact</th>
          <th>Actions</th>
        </thead>
        <tbody>
        {% if data %}
        {% for x in data %}
         <tr>
           <td>{{x.s_id}}</td>
           <td>{{x.s_name}}</td>
           <td>{{x.s_age}}</td>
           <td>{{x.s_email}}</td>
           <td>{{x.s_contact}}</td>
           <td>
            <a href="{% url 'edit' pk=x.id %}" class="btn btn-primary btn-sm">Edit</a>
            <a href="{% url 'delete' pk=x.id %}" class="btn btn-danger btn-sm">Delete</a>
           </td>
         </tr>
        {% endfor %}
        {% else %}
        <td colspan="6"><center><h3>No record found!</h3></center></td>
        {% endif %}
        </tbody> 
      </table>

      <center><a href="{% url 'insert' %}" class="btn btn-primary">Add New Record</a></center>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>